<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red darken-4">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">
    <div class='d-flex align-items-center'>
      <div class='border rounded fish w-100 h-100 mr-2'>🐟</div>
    </div>
  </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect (click)='bs.createBoard()'>New Game</a>
          </li>
          <li class="nav-item pr-2">
              <a class="nav-link waves-light" mdbWavesEffect (click)='bs.toggleBoard()'>{{ bs.gameActive ? 'Pause' : 'Show Board' }}</a>
          </li>
          <li class="nav-item pl-4">
            <div class="custom-control custom-switch nav-link">
              <input type="checkbox" class="custom-control-input" id="mode" [value]='bs.mode' (change)='bs.changeMode($event.target.value)' checked>
              <label class="custom-control-label" for="mode">Mode:&nbsp;{{bs.mode}}x{{bs.mode}}</label>
            </div>
          </li>

          <!-- Dropdown -->
          <!-- <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
              </div>
          </li> -->

      </ul>
      <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
