<div>
  <div class="jumbotron jumbotron-fluid w-100">
    <div class="container">
      <h1 class="display-4 text-center">🐡GGLE</h1>
      <p class='text-center' (click)='createBoard()'>RESET</p>
      <p class='text-center' (click)='toggleBoard()'>{{ gameActive ? 'PAUSE' : 'SHOW BOARD' }}</p>
      <p class='text-center'>{{timeleft}}</p>

    </div>
  </div>
  <!-- {{rows}} -->
  <table class='mx-auto' *ngIf="gameActive">
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let letter of row">
          <h1 class='p-4 border border-primary rounded-lg text-center'>{{letter}}</h1>
        </td>
      </tr>
    </tbody>
  </table>
</div>
